<div class="portlet light">
	<div class="portlet-title tabbable-line">
		<div class="caption">
            <h3 class="page-title"> Gestion des Achats </h3>
        </div>
	</div>
	<div class="portlet-body">
		<div class="alert alert-success" ng-if="data.newAchatAdded">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            L'achat est ajouté avec  <strong>Succèss!</strong> 
        </div>
        <div class="alert alert-danger" ng-if="data.errorAddNewAchat">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            <strong>Erreur !</strong> Lors de l'ajout du achat   
        </div>
		<div class="row" ng-if="data.hideDivTableAchats">
			<div class="col-sm-12 text-right">
				<button class="btn btn-primary" ng-click="addNewAchat()">Ajouter</button>
			</div>

			<div class="col-sm-12">
				<div class="portlet-body">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="text-center">Nom</th>
									<th class="text-center">N° Facture</th>
									<th class="text-center">N° Bon Commande</th>
									<th class="text-center">Prix</th>
									<th class="text-center">Voiture</th>
									<th class="text-center">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="achat in data.achats">
									<td class="text-center">{{achat.name}}</td>
									<td class="text-center">{{achat.nfacture}}</td>
									<td class="text-center">{{achat.nbl}}</td>
									<td class="text-center">{{achat.price}}</td>
									<td class="text-center">{{achat.dependencies.car.name}} ({{achat.dependencies.car.registrationnumber}})</td>
									<td class="text-center">
										<a title="Modifier Achat" class="btn btn-icon-only yellow" ng-click="editAchat(achat)"><i class="fa fa-edit"></i></a>	
										<a title="Supprimer Achat" class="btn btn-icon-only red" ng-click="deleteAchat(achat)"><i class="fa fa-trash"></i></a>
										<a title="Détail Voiture" class="btn btn-icon-only blue" ng-click="getInfosCar(achat.dependencies.car)"><i class="fa fa-book"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="row" ng-if="data.hideDivFormAchats">
			<div class="col-sm-12">
				<div class="portlet-body form">
					<div class="form-horizontal form-bordered">
						<div class="form-body">
							<div class="form-group">
	                            <label class="control-label col-md-3">Nom : </label>
	                            <div class="col-md-8">
	                                <input type="text" class="form-control" ng-model="data.achat.name">
	                                <span class="help-block font-red-mint" ng-if="data.errorForm.name"> Veuillez saisir le nom de l'article acheter ! </span>
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <label class="control-label col-md-3">N° Facture : </label>
	                            <div class="col-md-8">
	                                <input type="text" class="form-control" ng-model="data.achat.nfacture">
	                                <span class="help-block font-red-mint" ng-if="data.errorForm.nfacture"> Veuillez saisir le numero de facture de l'achat ! </span>
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <label class="control-label col-md-3">N° Bon Commande : </label>
	                            <div class="col-md-8">
	                                <input type="text" class="form-control" ng-model="data.achat.nbl">
	                                <span class="help-block font-red-mint" ng-if="data.errorForm.nbl"> Veuillez saisir le numéro de bon de commande de l'achat ! </span>
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <label class="control-label col-md-3">Prix : </label>
	                            <div class="col-md-8">
	                                <input type="text" class="form-control" ng-model="data.achat.price">
	                                <span class="help-block font-red-mint" ng-if="data.errorForm.price"> Veuillez saisir le prix d'achat  ! </span>
	                            </div>
	                        </div>

	                        <div class="form-group">
		                        <label class="control-label col-md-3">Voiture : </label>
		                        <div class="col-md-8">
		                            <select class="form-control select2" ng-model="data.achat.carid">
		                                <option value="">Selectionner une Voiture</option>                  
		                                <option ng-repeat="car in data.cars" value="{{car.id}}">{{car.name}} (({{car.registrationnumber}})</option>
		                            </select>
		                            <span class="help-block font-red-mint" ng-if="data.errorForm.carid"> Veuillez selectionner une voiture ! </span>
		                        </div>
		                    </div>

						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 text-right">
				<button class="btn btn-primary" ng-click="saveAchat(data.achat)">Enregister</button>
	            <button class="btn btn-danger" ng-click="closeAchat()">Fermer</button>
			</div>
		</div>

		<div class="row" ng-if="data.hideDivInfosCar">
			<div class="col-sm-12">
				<h3>Informations sur la voiture du Chauffeur</h3>
				<button class="btn btn-danger" ng-click="closeInfosCar()">Fermer</button>
			</div>

			<div class="col-sm-12">
				<div class="rows">
					<div class="col-md-2">
						<h5><strong>Code : </strong>{{data.car.carcode}}</h5>
					</div>
					<div class="col-md-3">
						<h5><strong>Nom : </strong> {{data.car.name}}</h5>
						<h5><strong>Marque : </strong> {{data.car.brand}}</h5>
						<h5><strong>Code : </strong>{{data.car.carcode}}</h5>
					</div>
					<div class="col-md-4">
						<h5><strong>Kilométrage : {{data.car.km}}</strong></h5>
						<h5><strong>N° Plaque: </strong> {{data.car.registrationnumber}}</h5>
					</div>
					<div class="col-md-3">
						<h5><strong>Carte grise : </strong> {{data.car.greycard}}</h5>
						<h5><strong>Catégorie : </strong> {{data.car.dependencies.categorie.name}}</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	




<!-- <h3 class="page-title"> Gestion des Achats </h3>
<div>
	<div class="row" ng-if="data.hideDivTableAchats">
		<div class="col-sm-12 text-right">
			<button class="btn btn-primary" ng-click="addNewAchat()">Ajouter</button>
		</div>

		<div class="col-sm-12">
			<div class="portlet-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th class="text-center">Nom</th>
								<th class="text-center">N° Facture</th>
								<th class="text-center">N° Bon Commande</th>
								<th class="text-center">Prix</th>
								<th class="text-center">Voiture</th>
								<th class="text-center">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="achat in data.achats">
								<td class="text-center">{{achat.name}}</td>
								<td class="text-center">{{achat.nfacture}}</td>
								<td class="text-center">{{achat.nbl}}</td>
								<td class="text-center">{{achat.price}}</td>
								<td class="text-center">{{achat.dependencies.car.name}} ({{achat.dependencies.car.registrationnumber}})</td>
								<td class="text-center">
									<a title="Modifier Achat" class="btn btn-icon-only yellow" ng-click="editAchat(achat)"><i class="fa fa-edit"></i></a>	
									<a title="Supprimer Achat" class="btn btn-icon-only red" ng-click="deleteAchat(achat)"><i class="fa fa-trash"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="row" ng-if="data.hideDivFormAchats">
		<div class="col-sm-12">
			<div class="portlet-body form">
				<div class="form-horizontal form-bordered">
					<div class="form-body">
						<div class="form-group">
                            <label class="control-label col-md-3">Nom : </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" ng-model="data.achat.name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">N° Facture : </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" ng-model="data.achat.nfacture">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">N° Bon Commande : </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" ng-model="data.achat.nbl">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Prix : </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" ng-model="data.achat.price">
                            </div>
                        </div>

                        <div class="form-group">
	                        <label class="control-label col-md-3">Voiture : </label>
	                        <div class="col-md-4">
	                            <select class="form-control select2" ng-model="data.achat.carid">
	                                <option value="">Selectionner une Voiture</option>                  
	                                <option ng-repeat="car in data.cars" value="{{car.id}}">{{car.name}} (({{car.registrationnumber}})</option>
	                            </select>
	                        </div>
	                    </div>

					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 text-right">
			<button class="btn btn-primary" ng-click="saveAchat(data.achat)">Enregister</button>
            <button class="btn btn-danger" ng-click="closeAchat()">Fermer</button>
		</div>
	</div>
</div> -->