<div class="portlet light">
	<div class="portlet-title tabbable-line">
		<div class="caption">
            <h3 class="page-title">Gestion des Chauffeurs </h3>
        </div>
	</div>
	<div class="portlet-body">
		<div class="alert alert-success" ng-if="data.newdriverAdded">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            Le chauffeur est  ajouté avec  <strong>Succèss!</strong> 
        </div>
        <div class="alert alert-danger" ng-if="data.errorAddNewdriver">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            <strong>Erreur !</strong> Lors de l'ajout du chauffeur   
        </div>

		<div class="row" ng-if="data.hideDivTableDrivers">
			<div class="col-sm-12 text-right">
				<button class="btn btn-primary" ng-click="addNewDriver()">Ajouter</button>
			</div>
			<div class="col-sm-12">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th class="text-center">Nom </th>
								<th class="text-center">Prénom</th>
								<th class="text-center">Téléphone</th>
								<th class="text-center">Email</th>
								<th class="text-center">Permis</th>
								<th class="text-center">Cin</th>
								<th class="text-center">Voiture</th>
								<th class="text-center">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="driver in data.drivers">
								<td class="text-center">{{driver.lastname}}</td>
								<td class="text-center">{{driver.firstname}}</td>
								<td class="text-center">{{driver.tel}}</td>
								<td class="text-center">{{driver.email}}</td>
								<td class="text-center">{{driver.driverlicense}}</td>
								<td class="text-center">{{driver.cin}}</td>
								<td class="text-center">{{driver.dependencies.car.name}}</td>
								<td>
									<a title="Modifier Chauffeur" class="btn btn-icon-only yellow" ng-click="editDriver(driver)"><i class="fa fa-edit"></i></a>	
									<a title="Supprimer Chauffeur" class="btn btn-icon-only red" ng-click="deleteDriver(driver)"><i class="fa fa-trash"></i></a>
									<a title="Détail Voiture" class="btn btn-icon-only blue" ng-click="getInfosCar(driver.dependencies.car)"><i class="fa fa-book"></i></a>	
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="row" ng-if="data.hideDivFormDrivers">
			<div class="col-sm-12">
				<div class="form">
					<div class="form-horizontal form-bordered">
						<div class="form-body">
							<div class="form-group">
	                            <label class="control-label col-md-3">Nom : </label>
	                            <div class="col-md-8">
	                                <input type="text" class="form-control" ng-model="data.driver.lastname">
	                                <span class="help-block font-red-mint" ng-if="data.errorForm.lastname"> Veuillez saisir le nom du Chauffeur ! </span>
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <label class="control-label col-md-3">Prénom : </label>
	                            <div class="col-md-8">
	                                <input type="text" class="form-control" ng-model="data.driver.firstname">
	                                <span class="help-block font-red-mint" ng-if="data.errorForm.firstname"> Veuillez saisir le prénom du Chauffeur ! </span>
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <label class="control-label col-md-3">Téléphone : </label>
	                            <div class="col-md-8">
	                                <input type="text" class="form-control" ng-model="data.driver.tel">
	                                <span class="help-block font-red-mint" ng-if="data.errorForm.tel"> Veuillez saisir le téléphone du Chauffeur ! </span>
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <label class="control-label col-md-3">Email : </label>
	                            <div class="col-md-8">
	                                <input type="text" class="form-control" ng-model="data.driver.email">
	                                <span class="help-block font-red-mint" ng-if="data.errorForm.email"> Veuillez saisir l'email du Chauffeur ! </span>
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <label class="control-label col-md-3">Permis : </label>
	                            <div class="col-md-8">
	                            	<select class="form-control select2" ng-model="data.driver.driverlicense">
	                            		<option value="">Selectionner un type de permis</option>
	                            		<option value="A">A</option>
	                            		<option value="B">B</option>
	                            		<option value="C">C</option>
	                            		<option value="D">D</option>
	                            		<option value="E">E</option>
	                            	</select>
	                                <span class="help-block font-red-mint" ng-if="data.errorForm.driverlicense"> Veuillez saisir le Type de permis du Chauffeur ! </span>
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <label class="control-label col-md-3">Cin : </label>
	                            <div class="col-md-8">
	                                <input type="text" class="form-control" ng-model="data.driver.cin">
	                                <span class="help-block font-red-mint" ng-if="data.errorForm.cin"> Veuillez saisir le numéro de cin du Chauffeur ! </span>
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <label class="control-label col-md-3">Voiture : </label>
	                            <div class="col-md-8">
	                                <select class="form-control select2" ng-model="data.driver.carid">
	                                    <option value="">Selectionner une Voiture</option>                  
	                                    <option ng-repeat="car in data.cars" value="{{car.id}}">{{car.name}}</option>
	                                </select>
	                                <span class="help-block font-red-mint" ng-if="data.errorForm.carid"> Veuillez selectionner la voiture a assigner au chauffeur ! </span>
	                                <span class="help-block font-red-mint" ng-if="data.cars.length == 0"> Tous les vehicule sont assignés a des chaufeurs, veuillez ajouter un nouveau vehicule ! </span>
	                            </div>
	                        </div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 text-right">
				<button class="btn btn-primary" ng-click="saveDriver(data.driver)">Enregister</button>
	            <button class="btn btn-danger" ng-click="closeDriver()">Fermer</button>
			</div>
		</div>

		<div class="row" ng-if="data.hideDivInfosCar">
			<div class="col-sm-12">
				<h3>Informations sur la voiture du Chauffeur</h3>
				<button class="btn btn-danger" ng-click="closeInfosCar()">Fermer</button>
			</div>

			<div class="col-sm-12">
				<div class="rows">
					<div class="col-md-2">
						<h5><strong>Code : </strong>{{data.car.carcode}}</h5>
					</div>
					<div class="col-md-3">
						<h5><strong>Nom : </strong> {{data.car.name}}</h5>
						<h5><strong>Marque : </strong> {{data.car.brand}}</h5>
						<h5><strong>Code : </strong>{{data.car.carcode}}</h5>
					</div>
					<div class="col-md-4">
						<h5><strong>Kilométrage : {{data.car.km}}</strong></h5>
						<h5><strong>N° Plaque: </strong> {{data.car.registrationnumber}}</h5>
					</div>
					<div class="col-md-3">
						<h5><strong>Carte grise : </strong> {{data.car.greycard}}</h5>
						<h5><strong>Catégorie : </strong> {{data.car.dependencies.categorie.name}}</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- <h3 class="page-title"> Gestion des Chauffeurs </h3>
<div>
	<div class="row" ng-if="data.hideDivTableDrivers">
		<div class="col-sm-12 text-right">
			<button class="btn btn-primary" ng-click="addNewDriver()">Ajouter</button>
		</div>
		<div class="col-sm-12">
			<div class="portlet-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th class="text-center">Nom </th>
								<th class="text-center">Prénom</th>
								<th class="text-center">Téléphone</th>
								<th class="text-center">Email</th>
								<th class="text-center">Permis</th>
								<th class="text-center">Cin</th>
								<th class="text-center">Voiture</th>
								<th class="text-center">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="driver in data.drivers">
								<td class="text-center">{{driver.lastname}}</td>
								<td class="text-center">{{driver.firstname}}</td>
								<td class="text-center">{{driver.tel}}</td>
								<td class="text-center">{{driver.email}}</td>
								<td class="text-center">{{driver.driverlicense}}</td>
								<td class="text-center">{{driver.cin}}</td>
								<td class="text-center">{{driver.dependencies.car.name}}</td>
								<td>
									<a title="Modifier Chauffeur" class="btn btn-icon-only yellow" ng-click="editDriver(driver)"><i class="fa fa-edit"></i></a>	
									<a title="Supprimer Chauffeur" class="btn btn-icon-only red" ng-click="deleteDriver(driver)"><i class="fa fa-trash"></i></a>
									<a title="Détail Voiture" class="btn btn-icon-only blue" ng-click="getInfosCar(driver.dependencies.car)"><i class="fa fa-book"></i></a>	
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="data.hideDivFormDrivers">
		<div class="col-sm-12">
			<div class="portlet-body form">
				<div class="form-horizontal form-bordered">
					<div class="form-body">
						<div class="form-group">
                            <label class="control-label col-md-3">Nom : </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" ng-model="data.driver.lastname">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Prénom : </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" ng-model="data.driver.firstname">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Téléphone : </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" ng-model="data.driver.tel">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Email : </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" ng-model="data.driver.email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Permis : </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" ng-model="data.driver.driverlicense">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Cin : </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" ng-model="data.driver.cin">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Voiture : </label>
                            <div class="col-md-4">
                                <select class="form-control select2" ng-model="data.driver.carid">
                                    <option value="">Selectionner une Voiture</option>                  
                                    <option ng-repeat="car in data.cars" value="{{car.id}}">{{car.name}}</option>
                                </select>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 text-right">
			<button class="btn btn-primary" ng-click="saveDriver(data.driver)">Enregister</button>
            <button class="btn btn-danger" ng-click="closeDriver()">Fermer</button>
		</div>
	</div>
</div> -->