<div class="portlet light">
	<div class="portlet-title tabbable-line">
		<div class="caption">
            <h3 class="page-title">Gestion des Chauffeurs </h3>
        </div>
	</div>
	<div class="portlet-body" ng-show="data.access">
		<div class="alert alert-success" ng-if="data.newdriverAdded">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            Le chauffeur est  ajouté avec  <strong>Succèss!</strong> 
        </div>
        <div class="alert alert-danger" ng-if="data.errorAddNewdriver">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            <strong>Erreur !</strong> Lors de l'ajout du chauffeur   
        </div>

		<div class="row" ng-if="data.hideDivTableDrivers">
			<div class="col-sm-12 text-right">
				<button class="btn btn-primary" ng-click="addNewDriver()">Ajouter</button>
				<div class="btn-group">
				  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Exporter <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="#"  ng-click="exporterExcel()">Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i></a></li>
				    <li><a href="#" ng-click="exporterPDF()">PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
				  </ul>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th class="text-center">Nom </th>
								<th class="text-center">Prénom</th>
								<th class="text-center">Téléphone</th>
								<th class="text-center">Email</th>
								<th class="text-center">Permis</th>
								<th class="text-center">Cin</th>
								<th class="text-center">Voiture</th>
								<th class="text-center">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="driver in data.drivers">
								<td class="text-center">{{driver.lastname}}</td>
								<td class="text-center">{{driver.firstname}}</td>
								<td class="text-center">{{driver.tel}}</td>
								<td class="text-center">{{driver.email}}</td>
								<td class="text-center">{{driver.driverlicense}}</td>
								<td class="text-center">{{driver.cin}}</td>
								<td class="text-center">{{driver.dependencies.car.name}}</td>
								<td>
									<a title="Modifier Chauffeur" class="btn btn-icon-only yellow" ng-click="editDriver(driver)"><i class="fa fa-edit"></i></a>	
									<a title="Supprimer Chauffeur" class="btn btn-icon-only red" ng-click="deleteDriver(driver)"><i class="fa fa-trash"></i></a>
									<a title="Détail Voiture" class="btn btn-icon-only blue" ng-click="getInfosCar(driver.dependencies.car)"><i class="fa fa-book"></i></a>	
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="row" ng-if="data.hideDivFormDrivers">
			<div class="col-sm-12">
				<div class="form">
					<div class="form-horizontal form-bordered">
						<div class="form-body">
							<div class="form-group">
	                            <label class="control-label col-md-3">Nom : </label>
	                            <div class="col-md-8">
	                                <input type="text" class="form-control" ng-model="data.driver.lastname">
	                                <span class="help-block font-red-mint" ng-if="data.errorForm.lastname"> Veuillez saisir le nom du Chauffeur ! </span>
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <label class="control-label col-md-3">Prénom : </label>
	                            <div class="col-md-8">
	                                <input type="text" class="form-control" ng-model="data.driver.firstname">
	                                <span class="help-block font-red-mint" ng-if="data.errorForm.firstname"> Veuillez saisir le prénom du Chauffeur ! </span>
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <label class="control-label col-md-3">Téléphone : </label>
	                            <div class="col-md-8">
	                                <input type="text" class="form-control" ng-model="data.driver.tel">
	                                <span class="help-block font-red-mint" ng-if="data.errorForm.tel"> Veuillez saisir le téléphone du Chauffeur ! </span>
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <label class="control-label col-md-3">Email : </label>
	                            <div class="col-md-8">
	                                <input type="text" class="form-control" ng-model="data.driver.email">
	                                <span class="help-block font-red-mint" ng-if="data.errorForm.email"> Veuillez saisir l'email du Chauffeur ! </span>
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <label class="control-label col-md-3">Permis : </label>
	                            <div class="col-md-8">
	                            	<select class="form-control select2" ng-model="data.driver.driverlicense">
	                            		<option value="">Selectionner un type de permis</option>
	                            		<option value="A">A</option>
	                            		<option value="B">B</option>
	                            		<option value="C">C</option>
	                            		<option value="D">D</option>
	                            		<option value="E">E</option>
	                            	</select>
	                                <span class="help-block font-red-mint" ng-if="data.errorForm.driverlicense"> Veuillez saisir le Type de permis du Chauffeur ! </span>
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <label class="control-label col-md-3">Cin : </label>
	                            <div class="col-md-8">
	                                <input type="text" class="form-control" ng-model="data.driver.cin">
	                                <span class="help-block font-red-mint" ng-if="data.errorForm.cin"> Veuillez saisir le numéro de cin du Chauffeur ! </span>
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <label class="control-label col-md-3">Voiture : </label>
	                            <div class="col-md-8">
	                                <select class="form-control select2" ng-model="data.driver.carid">
	                                    <option value="">Selectionner une Voiture</option>                  
	                                    <option ng-repeat="car in data.cars" value="{{car.id}}">{{car.name}}</option>
	                                </select>
	                                <span class="help-block font-red-mint" ng-if="data.errorForm.carid"> Veuillez selectionner la voiture a assigner au chauffeur ! </span>
	                                <span class="help-block font-red-mint" ng-if="data.cars.length == 0"> Tous les vehicule sont assignés a des chaufeurs, veuillez ajouter un nouveau vehicule ! </span>
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <label class="control-label col-md-3">Images : </label>
	                            <div class="col-md-8">
	                            	<div class="attachement-div" ng-repeat="(key, value) in data.driver.files">
	                            		<div class="attachement-delete" ng-click="deteteAttahcement(key)"><i class="fa fa-times-circle-o"></i></div>
	                            		<img ng-src="{{value}}" width="200px" />
	                            	</div>
			                    	<input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
			                    	<table class="table">
				                        <thead>
				                            <tr>
				                                <th width="50%">Nom</th>
				                                <th ng-show="uploader.isHTML5">Taille</th>
				                                <th ng-show="uploader.isHTML5">Progression</th>
				                                <th>Statut</th>
				                                <th>Actions</th>
				                            </tr>
				                        </thead>
				                        <tbody>
				                            <tr ng-repeat="item in uploader.queue">
				                                <td>
				                                    <strong>{{ item.file.name }}</strong>
				                                    <!-- Image preview -->
				                                    <!--auto height-->
				                                    <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
				                                    <!--auto width-->
				                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
				                                    <!--fixed width and height -->
				                                    <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
				                                </td>
				                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
				                                <td ng-show="uploader.isHTML5">
				                                    <div class="progress" style="margin-bottom: 0;">
				                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
				                                    </div>
				                                </td>
				                                <td class="text-center">
				                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
				                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
				                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
				                                </td>
				                                <td nowrap>
				                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
				                                        <span class="glyphicon glyphicon-upload"></span> Upload
				                                    </button>
				                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
				                                        <span class="glyphicon glyphicon-ban-circle"></span> Annuler
				                                    </button>
				                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
				                                        <span class="glyphicon glyphicon-trash"></span> Supprimer
				                                    </button>
				                                </td>
				                            </tr>
				                        </tbody>
				                    </table>
				                     <div>
				                        <div>
				                            File de Progression:
				                            <div class="progress" style="">
				                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
				                            </div>
				                        </div>
				                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
				                            <span class="glyphicon glyphicon-upload"></span> Uploader Tout
				                        </button>
				                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
				                            <span class="glyphicon glyphicon-ban-circle"></span> Annuler Tout
				                        </button>
				                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
				                            <span class="glyphicon glyphicon-trash"></span> Supprimer Tout
				                        </button>
				                    </div>
	                                
	                            </div>
	                        </div>



						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 text-right">
				<button class="btn btn-primary" ng-click="saveDriver(data.driver)">Enregister</button>
	            <button class="btn btn-danger" ng-click="closeDriver()">Fermer</button>
			</div>
		</div>

		<div class="row" ng-if="data.hideDivInfosCar">
			<div class="col-sm-12">
				<h3>Informations sur la voiture du Chauffeur</h3>
				<button class="btn btn-danger" ng-click="closeInfosCar()">Fermer</button>
			</div>

			<div class="col-sm-12">
				<div class="rows">
					<div class="col-md-2">
						<h5><strong>Code : </strong>{{data.car.carcode}}</h5>
					</div>
					<div class="col-md-3">
						<h5><strong>Nom : </strong> {{data.car.name}}</h5>
						<h5><strong>Marque : </strong> {{data.car.brand}}</h5>
						<h5><strong>Code : </strong>{{data.car.carcode}}</h5>
					</div>
					<div class="col-md-4">
						<h5><strong>Kilométrage : {{data.car.km}}</strong></h5>
						<h5><strong>N° Plaque: </strong> {{data.car.registrationnumber}}</h5>
					</div>
					<div class="col-md-3">
						<h5><strong>Carte grise : </strong> {{data.car.greycard}}</h5>
						<h5><strong>Catégorie : </strong> {{data.car}}</h5>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="portlet-body" ng-show="!data.access">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-danger text-center" >
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <h2><strong>Vous n'avez pas le droit d'accéder a cette page ! </strong></h2>  
                </div>    
            </div>
        </div>
    </div>
</div>
