
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="fa fa-car"></i>
            </div>
            <div class="details">
                <div class="number"> {{data.nbrTotalCars}} </div>
                <div class="desc"> Total Vehicule </div>
            </div>
            <a class="more" href="#/voitures.html"> Voir Plus
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat red">
            <div class="visual">
                <i class="fa fa-car"></i>
            </div>
            <div class="details">
                <div class="number"> {{data.nbrTotalAssignedCars}} </div>
                <div class="desc"> Total Vehicule Assignés </div>
            </div>
            <a class="more" href="#/voitures.html"> Voir Plus
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-car"></i>
            </div>
            <div class="details">
                <div class="number"> {{data.nbrTotalNotAssignedCars}} </div>
                <div class="desc"> Total Vehicule Non Assignés </div>
            </div>
            <a class="more" href="#/voitures.html"> Voir Plus
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat yellow-mint">
            <div class="visual">
                <i class="fa fa-bullseye"></i>
            </div>
            <div class="details">
                <div class="number"> {{data.nbrTotalMissions}} </div>
                <div class="desc"> Total Missions </div>
            </div>
            <a class="more" href="#/missions.html"> Voir Plus
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple">
            <div class="visual">
                <i class="fa fa-dot-circle-o"></i>
            </div>
            <div class="details">
                <div class="number"> {{data.nbrTotalNextMissions}} </div>
                <div class="desc"> Total Missions à venir </div>
            </div>
            <a class="more" href="#/missions.html"> Voir Plus
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>




<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS