<div class="portlet light">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <h3 class="page-title">Gestion des Utilisateurs</h3>
        </div>
    </div>
    <div class="portlet-body" ng-show="data.access">
        <div class="alert alert-success" ng-if="data.userAdded">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            L'utilisateur ajouté avec  <strong>Succèss!</strong> 
        </div>
        <div class="alert alert-danger" ng-if="data.error">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            <strong>Error!</strong> The daily cronjob has failed. 
        </div>
        <div class="row" ng-if="data.hideDivTableUser">
            <div class="col-sm-12 text-right">
                <button title="Ajouter Nouveau Utilisateur" class="btn btn-primary" ng-click="AddNewUser()">Ajouter</button>
            </div>
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">Nom </th>
                                <th class="text-center">Prénom</th>
                                <th class="text-center">Login</th>
                                <th class="text-center">Type</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in data.users">
                                <td class="text-center">{{user.lastname}}</td>
                                <td class="text-center">{{user.firstname}}</td>
                                <td class="text-center">{{user.login}}</td>
                                <td class="text-center">{{user.type}}</td>
                                <td class="text-center">
                                    <a title="Modifier Utilisateur" class="btn btn-icon-only yellow" ng-click="editUser(user)"><i class="fa fa-edit"></i></a>
                                    <a title="Supprimer Utilisateur" class="btn btn-icon-only red" ng-click="deleteUser(user)"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" ng-if="data.hideDivInfosUser">
            <div class="col-sm-12">
                <div class="form">
                    <form class="form-horizontal form-bordered">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">Nom : </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="data.user.lastname">
                                    <span class="help-block font-red-mint" ng-if="data.errorForm.lastname"> Veuillez saisir un nom ! </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Prénom : </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="data.user.firstname">
                                    <span class="help-block font-red-mint" ng-if="data.errorForm.firstname"> Veuillez saisir un prénom ! </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Email : </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="data.user.email">
                                    <span class="help-block font-red-mint" ng-if="data.errorForm.email"> Veuillez saisir un email !  </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Login : </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="data.user.login">
                                    <span class="help-block font-red-mint" ng-if="data.errorForm.login"> Veuillez saisir un login !  </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Mot de Passe : </label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" ng-model="data.user.password">
                                    <span class="help-block font-red-mint" ng-if="data.errorForm.password"> Veuillez saisir un mot de passe !  </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Type : </label>
                                <div class="col-md-8">
                                    <select class="form-control select2" ng-model="data.user.type">
                                        <option value="">Selectionner un type</option>                  
                                        <option value="admin">Admin</option>                  
                                        <option value="user">User</option>                  
                                    </select>
                                    <span class="help-block font-red-mint" ng-if="data.errorForm.type"> Veuillez selectionner un type !  </span>
                                </div>
                            </div>
                            <div class="form-group form-md-checkboxes">
                                <label><h3>Droits Utilisateurs : </h3></label>
                                <div class="md-checkbox-inline">
                                    <div class="row">
                                        <div class="col-sm-4 md-checkbox">
                                            <input type="checkbox" id="checkbox1" class="md-check" ng-model="data.user.droits.users">
                                            <label for="checkbox1">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>Utilisateurs</label>
                                        </div>
                                        <div class="col-sm-4 md-checkbox">
                                            <input type="checkbox" id="checkbox2" class="md-check" ng-model="data.user.droits.cars">
                                            <label for="checkbox2">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span> Voitures </label>
                                        </div>
                                        <div class="col-sm-4 md-checkbox">
                                            <input type="checkbox" id="checkbox3" class="md-check" ng-model="data.user.droits.categories">
                                            <label for="checkbox3">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span> Catégories</label>
                                        </div>
                                        <div class="col-sm-4 md-checkbox">
                                            <input type="checkbox" id="checkbox4" class="md-check" ng-model="data.user.droits.drivers">
                                            <label for="checkbox4">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span> Chauffeurs</label>
                                        </div>    
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4 md-checkbox">
                                            <input type="checkbox" id="checkbox5" class="md-check" ng-model="data.user.droits.missions">
                                            <label for="checkbox5">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span> Missions</label>
                                        </div>
                                        <div class="col-sm-4 md-checkbox">
                                            <input type="checkbox" id="checkbox6" class="md-check" ng-model="data.user.droits.reservations">
                                            <label for="checkbox6">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Réservations</label>
                                        </div>
                                        <div class="col-sm-4 md-checkbox">
                                            <input type="checkbox" id="checkbox7" class="md-check" ng-model="data.user.droits.papers">
                                            <label for="checkbox7">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span> Papiers</label>
                                        </div>
                                        <div class="col-sm-4 md-checkbox">
                                            <input type="checkbox" id="checkbox8" class="md-check" ng-model="data.user.droits.purshase">
                                            <label for="checkbox8">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span> Achats</label>
                                        </div>        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-12 text-right">
                <button class="btn btn-primary" ng-click="saveUser(data.user)">Enregister</button>
                <button class="btn btn-danger" ng-click="closeNewUser()">Fermer</button>
            </div>
        </div>
    </div>

    <div class="portlet-body" ng-show="!data.access">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-danger text-center" >
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <h2><strong>Vous n'avez pas le droit d'accéder a cette page ! </strong></h2>  
                </div>    
            </div>
        </div>
    </div>
</div>    



<!-- <h3 class="page-title"> Gestion des Utilisateurs </h3>
<div ng-controller="DashboardController">
    <div class="row" ng-if="data.hideDivTableUser">
        <div class="col-sm-12 text-right">
            <button title="Ajouter Nouveau Utilisateur" class="btn btn-primary" ng-click="AddNewUser()">Ajouter</button>
        </div>
        <div class="col-sm-12">
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">nom </th>
                                <th class="text-center">prenom</th>
                                <th class="text-center">login</th>
                                <th class="text-center">type</th>
                                <th class="text-center">actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in data.users">
                                <td class="text-center">{{user.lastname}}</td>
                                <td class="text-center">{{user.firstname}}</td>
                                <td class="text-center">{{user.login}}</td>
                                <td class="text-center">{{user.type}}</td>
                                <td class="text-center">
                                    <a title="Modifier Utilisateur" class="btn btn-icon-only yellow" ng-click="editUser(user)"><i class="fa fa-edit"></i></a>
                                    <a title="Supprimer Utilisateur" class="btn btn-icon-only red" ng-click="deleteUser(user)"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="data.hideDivInfosUser">
        <div class="col-sm-12">
            <div class="portlet-body form">
                <form class="form-horizontal form-bordered">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">nom : </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" ng-model="data.user.lastname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">prénom : </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" ng-model="data.user.firstname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">email : </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" ng-model="data.user.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">login : </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" ng-model="data.user.login">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">password : </label>
                            <div class="col-md-4">
                                <input type="password" class="form-control" ng-model="data.user.password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">type : </label>
                            <div class="col-md-4">
                                <select class="form-control select2" ng-model="data.user.type">
                                    <option value="">Selectionner un type</option>                  
                                    <option value="admin">Admin</option>                  
                                    <option value="user">User</option>                  
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-md-checkboxes">
                            <label><h3>droits Utilisateurs : </h3></label>
                            <div class="md-checkbox-inline">
                                <div class="md-checkbox">
                                    <input type="checkbox" id="checkbox1" class="md-check" ng-model="data.user.droits.users">
                                    <label for="checkbox1">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>Utilisateurs</label>
                                </div>
                                <div class="md-checkbox">
                                    <input type="checkbox" id="checkbox2" class="md-check" ng-model="data.user.droits.cars">
                                    <label for="checkbox2">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Voitures </label>
                                </div>
                                <div class="md-checkbox">
                                    <input type="checkbox" id="checkbox3" class="md-check" ng-model="data.user.droits.categories">
                                    <label for="checkbox3">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Catégories</label>
                                </div>
                                <div class="md-checkbox">
                                    <input type="checkbox" id="checkbox4" class="md-check" ng-model="data.user.droits.drivers">
                                    <label for="checkbox4">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Chauffeurs</label>
                                </div>
                                <div class="md-checkbox">
                                    <input type="checkbox" id="checkbox5" class="md-check" ng-model="data.user.droits.missions">
                                    <label for="checkbox5">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Missions</label>
                                </div>
                                <div class="md-checkbox">
                                    <input type="checkbox" id="checkbox6" class="md-check" ng-model="data.user.droits.reservations">
                                    <label for="checkbox6">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Réservations</label>
                                </div>
                                <div class="md-checkbox">
                                    <input type="checkbox" id="checkbox7" class="md-check" ng-model="data.user.droits.papers">
                                    <label for="checkbox7">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Papiers</label>
                                </div>
                                <div class="md-checkbox">
                                    <input type="checkbox" id="checkbox8" class="md-check" ng-model="data.user.droits.purshase">
                                    <label for="checkbox8">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Achats</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-12 text-right">
            <button class="btn btn-primary" ng-click="saveUser(data.user)">Enregister</button>
            <button class="btn btn-danger" ng-click="closeNewUser()">Fermer</button>
        </div>
    </div>
</div> -->
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS