<h3 class="page-title"> Gestion des Utilisateurs </h3>
<div ng-controller="DashboardController">
    <div class="row" ng-if="data.hideDivTableUser">
        <div class="col-sm-12 text-right">
            <button class="btn btn-primary" ng-click="AddNewUser()">Ajouter</button>
        </div>
        <div class="col-sm-12">
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>nom</th>
                                <th>prenom</th>
                                <th>login</th>
                                <th>type</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in data.users">
                                <td>{{user.id}}</td>
                                <td>{{user.lastname}}</td>
                                <td>{{user.firstname}}</td>
                                <td>{{user.login}}</td>
                                <td>{{user.type}}</td>
                                <td>
                                	<a class="btn btn-icon-only yellow" ng-click="editUser(user)"><i class="fa fa-edit"></i></a>
                                	<a class="btn btn-icon-only red" ng-click="deleteUser(user)"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="data.hideDivInfosUser">
    	<div class="col-sm-12">
    		<div class="portlet-body form">
        		<form class="form-horizontal form-bordered">
        			<div class="form-body">
        				<div class="form-group">
        					<label class="control-label col-md-3">nom : </label>
        					<div class="col-md-4">
        						<input type="text" class="form-control" ng-model="data.user.lastname">
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label col-md-3">prénom : </label>
        					<div class="col-md-4">
        						<input type="text" class="form-control" ng-model="data.user.firstname">
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label col-md-3">email : </label>
        					<div class="col-md-4">
        						<input type="text" class="form-control" ng-model="data.user.email">
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label col-md-3">login : </label>
        					<div class="col-md-4">
        						<input type="text" class="form-control" ng-model="data.user.login">
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label col-md-3">password : </label>
        					<div class="col-md-4">
        						<input type="password" class="form-control" ng-model="data.user.password">
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label col-md-3">type : </label>
        					<div class="col-md-4">
        						<select class="form-control select2" ng-model="data.user.type">
                                    <option value="">Selectionner un type</option>                  
                                    <option value="admin">Admin</option>                  
                                    <option value="user">User</option>                  
                                </select>
        					</div>
        				</div>
                        <h3>droits Utilisateurs : </h3>
        				<div class="form-group">
        					<label class="control-label col-md-3">users : </label>
        					<div class="col-md-4">
                                <select class="form-control select2" ng-model="data.user.droits.users">                  
                                    <option value="true">OUI</option>                  
                                    <option value="false">NON</option>                  
                                </select>
                            </div>
        				</div>
                        <div class="form-group">
                            <label class="control-label col-md-3">categories : </label>
                            <div class="col-md-4">
                                <select class="form-control select2" ng-model="data.user.droits.categories">                  
                                    <option value="true">OUI</option>                  
                                    <option value="false">NON</option>                  
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">cars : </label>
                            <div class="col-md-4">
                                <select class="form-control select2" ng-model="data.user.droits.cars">                  
                                    <option value="true">OUI</option>                  
                                    <option value="false">NON</option>                  
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">drivers : </label>
                            <div class="col-md-4">
                                <select class="form-control select2" ng-model="data.user.droits.drivers">                  
                                    <option value="true">OUI</option>                  
                                    <option value="false">NON</option>                  
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">papers : </label>
                            <div class="col-md-4">
                                <select class="form-control select2" ng-model="data.user.droits.papers">                  
                                    <option value="true">OUI</option>                  
                                    <option value="false">NON</option>                  
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">purshase : </label>
                            <div class="col-md-4">
                                <select class="form-control select2" ng-model="data.user.droits.purshase">                  
                                    <option value="true">OUI</option>                  
                                    <option value="false">NON</option>                  
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">reservations : </label>
                            <div class="col-md-4">
                                <select class="form-control select2" ng-model="data.user.droits.reservations">                  
                                    <option value="true">OUI</option>                  
                                    <option value="false">NON</option>                  
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">missions : </label>
                            <div class="col-md-4">
                                <select class="form-control select2" ng-model="data.user.droits.missions">                  
                                    <option value="true">OUI</option>                  
                                    <option value="false">NON</option>                  
                                </select>
                            </div>
                        </div>
        			</div>
        		</form>
    		</div>
    	</div>
        <div class="col-sm-12 text-right">
            <button class="btn btn-primary" ng-click="saveUser(data.user)">Enregister</button>
            <button class="btn btn-danger" ng-click="closeNewUser()">Fermer</button>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS