<h3 class="page-title"> Gestion des Voitures </h3>
<div ng-controller="CarsController">
    <div class="row" ng-if="data.hideDivCars">
    	<div class="col-sm-12 text-right">
    		<button title="" class="btn btn-primary" ng-click="addNewCar()">Ajouter</button>
    	</div>
    	<div class="col-sm-12">
    		 <div class="portlet-body">
    		 	<div class="table-responsive">
                    <table class="table">
	                    <thead>
	                    	<tr>
	                    		<th>Code</th>
	                    		<th>Nom</th>
	                    		<th>Marque</th>
	                    		<th>Carte grise</th>
	                    		<th>Kilométrage</th>
	                    		<th>N° plaque</th>
	                    		<th>Catégories</th>
	                    		<th>Actions</th>
	                    	</tr>
	                    </thead>
	                    <tbody>
	                    	<tr ng-repeat="car in data.cars">
	                    		<td>{{car.carcode}}</td>
	                    		<td>{{car.name}}</td>
	                    		<td>{{car.brand}}</td>
	                    		<td>{{car.greycard}}</td>
	                    		<td>{{car.km}}</td>
	                    		<td>{{car.registrationnumber}}</td>
	                    		<td>{{car.dependencies.categorie.name}}</td>
	                    		<td>
	                    			<a title="Modifier Voiture" class="btn btn-icon-only yellow" ng-click="editCar(car)"><i class="fa fa-edit"></i></a>
	                    			<a title="Supprimer Voiture" class="btn btn-icon-only red" ng-click="deleteCar(car)"><i class="fa fa-trash"></i></a>
	                    		</td>
	                    	</tr>
	                    </tbody>
                    </table>
                </div>    
    		 </div>
    	</div>
    </div>

    <div class="row" ng-if="data.hideInfosCar">
    	<div class="col-sm-12">
    		<div class="portlet-body form">
    			<form class="form-horizontal form-bordered">
    				<div class="form-body">
    					<div class="form-group">
    						<label class="control-label col-md-3">Code : </label>
    						<div class="col-md-4">
    							<input type="text" class="form-control" ng-model="data.car.carcode">
    						</div>
    					</div>
    					<div class="form-group">
    						<label class="control-label col-md-3">Nom : </label>
    						<div class="col-md-4">
    							<input type="text" class="form-control" ng-model="data.car.name">
    						</div>
    					</div>
    					<div class="form-group">
    						<label class="control-label col-md-3">Marque : </label>
    						<div class="col-md-4">
    							<input type="text" class="form-control" ng-model="data.car.brand">
    						</div>
    					</div>
    					<div class="form-group">
    						<label class="control-label col-md-3">Carte grise : </label>
    						<div class="col-md-4">
    							<input type="text" class="form-control" ng-model="data.car.greycard">
    						</div>
    					</div>
    					<div class="form-group">
    						<label class="control-label col-md-3">Kilométrage : </label>
    						<div class="col-md-4">
    							<input type="text" class="form-control" ng-model="data.car.km">
    						</div>
    					</div>
    					<div class="form-group">
    						<label class="control-label col-md-3">N° plaque : </label>
    						<div class="col-md-4">
    							<input type="text" class="form-control" ng-model="data.car.registrationnumber">
    						</div>
    					</div>
    					<div class="form-group">
                            <label class="control-label col-md-3">type : </label>
                            <div class="col-md-4">
                                <select class="form-control select2" ng-model="data.car.catid">
                                    <option value="">Selectionner une catégorie</option>                  
                                    <option ng-repeat="cat in data.categories" value="{{cat.id}}">{{cat.name}}</option>
                                </select>
                            </div>
                        </div>
    				</div>
    			</form>
    		</div>
    	</div>
    	<div class="col-sm-12 text-right">
    		<button class="btn btn-primary" ng-click="saveCar(data.car)">Enregister</button>
            <button class="btn btn-danger" ng-click="closeCar()">Fermer</button>
    	</div>
    </div>
</div>
